<a href="https://colab.research.google.com/github/Chenronron/20230304-python/blob/main/20230304_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 抓取網頁原始碼

In [1]:
import requests

In [2]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [4]:
r = requests.get(url)

In [5]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取 Ajax 網頁資料

### 從非 Ajax 網站的網頁上，可以直接看到資料

In [20]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [7]:
r = requests.get(url)

In [8]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [12]:
import pandas as pd

In [22]:
dfs = pd.read_html(url)

In [23]:
dfs[0]

,Unnamed: 0_level_0,Open,High,Low,Close,Adj Close,Volume
,Date,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

### 從 ajax 網頁上，可能看不到資料

In [9]:
url = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"

In [10]:
r = requests.get(url)

In [11]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AJAX範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
  <div class="container">
    <table border="1" class="dataframe table table-striped">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
          </tr>
          <tr>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="spy">

        </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "spy.json",
            dataType: 'json',
            type: 'get',
            cache:false,
            success: function(data){
                // console.log(data);
                var event_data = '';
                $.each(data, function(index, value){
                    // console.log(value);
                    event_data += '<tr>';
                    event_data += '<th>'+value.Date+'</th>';
                    event_data += '<td>'+value.Open+'</td>';
                    event_data += '<td>'+value.High+'</td>';
                    event_data += '<td>'+value.Low+'</td>';
                    event_data += '<td>'+value.Close+'</td>';
                    event_data += '<td>'+value['Adj Close']+'</td>';
                    event_data += '<td>'+value.Volume+'</td>';
                    event_data += '</tr>';
                });
                $("#spy").append(event_data);
            },
            error: function(d){
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
    </script>


</body>
</html>

In [24]:
url = "https://victorgau.github.io/khpy_web_intro/spy.json"

In [26]:
data = requests.get(url).json()

In [27]:
df = pd.read_json(url)

In [28]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

## 關於 pandas 的 read_html()

In [29]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [30]:
dfs = pd.read_html(url)

In [31]:
type(dfs)

list

In [32]:
len(dfs)

2

In [33]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [34]:
dfs[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0      January 5, 2023    NaN                            NaN     VNO
1      January 4, 2023   GEHC                  GE HealthCare     NaN
2    December 22, 2022   STLD                 Steel Dynamics    ABMD
3    December 19, 2022   FSLR                    First Solar    FBHS
4    December 19, 2022    NaN                            NaN     MBC
..                 ...    ...                            ...     ...
315       June 9, 1999    WLP                      Wellpoint     HPH
316  December 11, 1998    FSR                        Firstar     LDW
317  December 11, 1998    CCL                 Carnival Corp.     GRN
318  December 11, 1998   CPWR                      Compuware     SUN
319      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                     \
                           Security
0              Vornado Realty Trust
1                               NaN
2                           Abiomed
3    Fortune Brands Home & Security
4                       MasterBrand
..                              ...
315        Harnischfeger Industries
316                           Amoco
317                      General Re
318                      SunAmerica
319                          USLife

                                                Reason
                                                Reason
0                     Market capitalization change.[4]
1    S&P 500 constituent General Electric spun off ...
2    S&P 500 constituent Johnson & Johnson acquired...
3                     Market capitalization change.[7]
4                     Market capitalization change.[7]
..                                                 ...
315           Harnischfeger filed for bankruptcy.[241]
316            British Petroleum purchased Amoco.[242]
317      Berkshire Hathaway purchased General Re.[242]
318                     AIG purchased SunAmerica.[242]
319                          AIG acquired USLife.[243]

[320 rows x 6 columns]

# 剖析網頁原始碼

In [36]:
# 多字串要用三個引號
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>"""

In [37]:
type(s)

str

In [38]:
from bs4 import BeautifulSoup

In [39]:
soup = BeautifulSoup(s)

In [41]:
soup.h1

In [42]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [43]:
soup.li

In [44]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [45]:
soup.select("li")[0]

In [46]:
soup.select("li")[0].text

' HTML 範例'

In [47]:
soup.select("li")[1].text

' HTML + CSS 範例'

In [48]:
for x in soup.select("li"):
  print(x.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [49]:
for i, x in enumerate(soup.select("li")):
  print(i, ":", x.text)

0 :  HTML 範例
1 :  HTML + CSS 範例
2 :  HTML + CSS + Javascript 範例
3 :  example01.html (爬蟲抓取用範例)
4 :  example02.html (爬蟲抓取用範例)
5 :  example03.html (爬蟲抓取用範例)
6 :  example04.html (爬蟲抓取用範例)
7 :  example05.html (爬蟲抓取用範例)
8 :  Classic HTML 範例 (爬蟲抓取用範例)
9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [50]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [52]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

# 關於字串格式化

In [53]:
x = 1
y = 1.23
z = True
w = "dog"

In [54]:
print(x, y ,z ,w)

1 1.23 True dog

In [55]:
print(x, y ,z ,w, sep="+")

1+1.23+True+dog

### f-string(3.5+)

In [58]:
print(f"{x}, {y}, {z}, {w}")

1, 1.23, True, dog

In [57]:
print("{x}, {y}, {z}, {w}")

{x}, {y}, {z}, {w}

In [59]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w}")
print(f"{x:05}, {y}, {z}, {w}")

1, 1.23, True, dog
    1, 1.23, True, dog
00001, 1.23, True, dog

In [63]:
# f為浮點數幾位，7是總共幾個數字，包含小數點
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y:7.2f}, {z}, {w}")
print(f"{x}, {y:07.2f}, {z}, {w}")

1, 1.23, True, dog
1,    1.23, True, dog
1, 0001.23, True, dog

In [61]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")

1, 1.23, True, dog
1, 1.23, True, dog
1, 1.23, True,        dog

### string.format

In [64]:
print("{}, {}, {}, {}".format(x, y, z, w))

1, 1.23, True, dog

In [66]:
#保留太多會出錯
print("{}, {}, {}, {}, {}".format(x, y, z, w))

IndexError: ignored

In [67]:
print("{}, {}, {},".format(x, y, z, w))

1, 1.23, True,

In [68]:
print("{0}, {1}, {2}, {1}".format(x, y, z, w))

1, 1.23, True, 1.23

In [69]:
print("{a}, {b}, {c}, {d}".format(a=x, b=y, c=z, d=w))

1, 1.23, True, dog